body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  background: #E9E9E9;
}

.grid {
  margin: 0 auto;
}

#drewman {
  background: white;
  font-family: 'Finger Paint', cursive;
  font-size: 64px;
  color: #232323;
  padding-bottom: 5px;
  margin: 0px;
  margin-bottom: 40px;
}

#drew-fleeman {
  padding: 0;
  margin: 0;
}

.grid-item {
  border-radius: 5px;
  width: 350px;
  margin-bottom: 40px;
}

img {
  border-radius: 5px;
}

.info {
  display: none;
  position: absolute;
  background: #333;
  opacity: 0.9;
  color: white;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.description {
  text-align: left;
  padding: 0 20px;
  line-height: 24px;
}

.grid-item:hover .info{
  display: block;
}

#social {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

i {
  margin-right: 5px;
  color: #333;
}

.fa-bolt {
  color: orange;
}

#web-dev {
  padding: 0;
  margin: 0;
  font-family: 'Finger Paint', cursive;
  font-size: 16px;
  color: #777;
}

#social span {
  font-size: 48px;
  margin: 0px 10px;
}

i:hover {
  color: orange;
}

@media only screen and (max-width: 525px) {
  #drewman {
    font-size: 42px;
  }

  .grid-item, img {
    width: 300px;
    margin-left: 3%;
  }
}

@media only screen and (max-width: 350px) {
  #drewman {
    font-size: 36px;
  }
}
